body{
    margin: 0;

}
.main{
    display: flex;
    flex-direction: column;
    height: 99vh;
    width: 99vw;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    row-gap: 2%;
    margin: auto;
    border: 3px solid #c0b8b8;
    border-radius: 31px;

}
.top{
    background-color: #85d282;
    height: 29%;
    width: 98vw;
    border: 1px solid #c0b8b8;
    border-radius: 15px;
}
.bottom{
    height: 65%;
    width: 98vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2%;
}
.bottom_1{
    height: 98%;
    width: 78%;
    background-color: #b04a4a;
    border: 1px solid #c0b8b8;
    border-radius: 15px;
}
.bottom_2{
    width: 20%;
}